.franchising-section{
    position: absolute;
    top: 75px;
    margin-left: 10px;
}
.franchising-section>h2{
    margin: 10px 0;
}
.franchising-section>p{
    font-family: 'Benne';
    font-size: large;
    text-align: justify;
    margin: 5px 10px;
}
#invest-form{
    border: 1px solid black;
    width: 50vw;
    margin: 40px auto;
    padding: 10px 0;
}
#invest-form>h2{
    position: absolute;
    top:29vh;
    left:42%;
    text-align: center;
    display: inline-block;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
#invest-form>div{
    font-family: 'Benne';
    font-size: large;
    font-weight: bold;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
}
#invest-form input,select{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin:10px 0;
    height: 25px;
}
#invest-form textarea{
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin:10px 0;
    height: 15vh;
}
#invest-form button{
    font-weight: bolder;
    font-size: larger;
    position: absolute;
    bottom: 30px;
    left: 45%;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    width: 100px;
    height: 25px;
}
#franchise-alerter{
    color: red;
    text-align: center;
}