.gallery-images{
    width:250px;
    margin: 10px 5px;
    height: 200px;
    border: 2px solid gray;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: .5s ease;
}
.gallery-images:hover{
    opacity: 0.5;
}
#gallery-section{
    font-family: 'Benne';
    margin: 10px;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    top:75px;
}
#gallery-section>h2{
    margin: 5px;
}
#gallery-section>div:nth-child(2){
    text-align: center;
    margin: 5px 0px 20px;
}
#imagelists{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
