@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
.menu-page{
    width: 100%;
    height: 200vh;
    position: absolute;
    top:100px;
}
.menu-page>h2{
    margin-left: 10px;
}
.menu-page>p{
    text-align: justify;
    margin: 10px;
    font-family: 'Benne';
    font-size: large;
}
.menu-items>h2{
    margin:10px;
}
.items_images{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.listofitems{
    font-weight: bold;
    font-family: 'Benne';
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.items{
    margin: 5px 30px;
}
.dishes{
    width: 200px;
    height:200px; 
     
}
.menu-logo{
    position: fixed;
    right: 0;
    top:85px;
    width: 50vw;
    height: 90vh;
    z-index: -1;
}
